/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: var(--page-color);
  background-attachment: fixed;
  background-image: var(--background-header);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  position: relative;
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.header::before {
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border-block-start: 1px solid var(--title-color-text);
  border-inline-end: 1px solid var(--title-color-text);
}
.header::after {
  border-block-end: 1px solid var(--title-color-text);
  border-inline-start: 1px solid var(--title-color-text);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header_size {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: max(668px, 100vh);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-item {
  color: var(--title-color-text);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  padding: 0 5px;
  border: 1px solid transparent;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-item:hover {
  border: 1px solid var(--header__theme-menu-color);
}

.header__theme-menu-item:hover:active {
  border: 1px solid transparent;
}

.header__theme-menu-item:has(.header__theme-menu-button:focus) {
  border-block-end: 1px solid var(--title-color-text);
}

.header__theme-menu-item:has(.header__theme-menu-button:focus-visible) {
  border-block-end: 1px solid var(--title-color-text);
  outline: none;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  pointer-events: none;
  border: 1px solid var(--title-color-text);
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.title {
  color: var(--header-color-title);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--header-color-title-shadow);
}

.position_title {
  display: flex;
  align-items: center;
}

.text {
  color: var(--main-text-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.direction {
  display: flex;
  justify-content: end;
  align-items: center;
}

.title-decor {
  background: var(--background-color-text);
}

.weihgt_text {
  font-weight: 400;
}

.rec_header {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--rec-color);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  margin: 0;
  text-align: center;
  position: absolute;
  inset-inline-end: 18px;
  inset-block-start: 10px;
  align-items: center;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--background-color-text);
  border: 1px solid transparent;
  cursor: pointer;
}

.link:hover {
  border-block-end: 1px solid var(--color-text);
}

.link:focus {
  border: 1px solid var(--color-text);
  outline: none;
}

.marker_on {
  width: 10px;
  height: 10px;
  box-shadow: var(--rec-box-shadow);
  border-radius: 100%;
  background-color: var(--rec-color);
}

.content {
  margin-top: 40px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text_content {
  color: var(--title-color-text);
}

.text_section {
  font-weight: 400;
  color: var(--color-text);
}

h3 + .card_indentation,
p + h3,
p + p,
h2 + .indent_section_text,
h2 + div,
h3 + .text_indent,
h3 + .indent_section_text,
.card_indentation + .card_indentation {
  margin-block-start: 20px;
}

h3 + p {
  margin-block-start: 10px;
}

.picture {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.control {
  width: 100%;
  height: 100%;
}

.gallery__item {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.footer {
  margin-top: 38px
}

.footer_size {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max(668px, 100vh);
  position: relative;
  padding: 10px;
}

.footer_size::before,
.footer_size::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.footer_size::before {
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border-block-start: 1px solid var(--title-color-text);
  border-inline-end: 1px solid var(--title-color-text);
}
.footer_size::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--title-color-text);
  border-inline-start: 1px solid var(--title-color-text);
}

.footer_title {
  text-shadow: 2px 2px 0px var(--header-color-title-shadow);
}

.text_length {
  width: 355px;
}

.flex_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 588px) {

  .position_title {
    position: relative;
    inset-inline-start: -20px;
  }

  .text_length {
    width: 50%;
  }

  h2 + .indent_section_text {
    margin-block-start: 0;
  }
}

@media (width >= 768px) {

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .min_length {
    min-width: 236px;
    max-width: 236px;
  }
  .photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 24% 29% 40.5%;
    gap: 20px;
  }

  .picture_section_sun {
    grid-area: 1 / 1 / 2 / 3;
  }

  .picture_section_icecream {
    grid-area: 1 / 3 / 3 / 3;
  }

  .picture_section_video {
    grid-area: 2 / 1 / 4 / 2;
  }

  .picture_section_book {
    grid-area: 2 / 2 / 3 / 3;
  }

  .picture_section_street {
    grid-area: 3 / 2 / 4 / 4;
  }

  .section_focus {
    display: flex;
    gap: 20px;
  }

  .content {
    margin-block-start: 60px;
    gap: 80px;
    padding: 0 20px;
  }

  .header_size {
    padding: 20px;
  }

  .footer {
    margin-top: 50px;
  }

  .rec_header {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .header::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .footer_size::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .footer_size::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .picture {
    gap: 20px;
  }
}

@media (width >= 1000px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .min_length {
    min-width: 315px;
    max-width: 315px;
  }

  .flex_box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex_box_content {
    min-width: 314px;
    max-width: 314px;
  }

  .photo {
    grid-template-rows: 24.5% 30% 40.5%;
  }
}