/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color-text: #ff0070;

  --title-color-text: #ff0070;

  --color-text: #f1b2ce;

  --header-color-title: #db00ff;

  --header-color-title-shadow: #ff0070;

  --main-text-color: #000028;

  --page-color: #000028;

  --header__theme-menu-color: rgba(255, 0, 112, 0.4);

  --background-header: url(../images/cover-image-dark.png);
}

@media (width >= 588px) {
  .header__theme-menu {
    padding-block-end: 30px;
  }

  .direction {
    padding-block-start: 15px;
    align-items: flex-start;
  }

  .margin_top {
    position: relative;
    inset-inline-start: -20px;
  }

  .title_header {
    align-items: center;
  }

  .text_width {
    width: 50%;
  }

  .page {
    gap: 60px;
  }

  h2 + .margin_section_text {
    margin-block-start: 0;
  }
}

@media (width >= 768px) {
  .text_width {
    width: 50%;
  }

  .title_header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .min_width {
    min-width: 236px;
    max-width: 236px;
  }
  .photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 24% 29% 40.5%;
    gap: 20px;
  }

  .picture_section_sun {
    grid-area: 1 / 1 / 2 / 3;
  }

  .picture_section_icecream {
    grid-area: 1 / 3 / 3 / 3;
  }

  .picture_section_video {
    grid-area: 2 / 1 / 4 / 2;
  }

  .picture_section_book {
    grid-area: 2 / 2 / 3 / 3;
  }

  .picture_section_street {
    grid-area: 3 / 2 / 4 / 4;
  }

  .section_focus {
    display: flex;
    gap: 20px;
  }

  .content {
    padding: 0 20px;
  }

  .background_height {
    height: calc(100vh - 40px);
    margin: 20px;
  }

  .footer_height {
    height: calc(100vh - 40px);
    margin: 10px 20px;
  }

  .content {
    gap: 80px;
  }

  .picture {
    gap: 20px;
  }
}

@media (width >= 1000px) {
  .header__theme-menu {
    justify-content: space-around;
    align-items: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .text_width {
    width: 50%;
  }

  .direction {
    padding-block-start: 33px;
  }

  .min_width {
    min-width: 315px;
    max-width: 315px;
  }

  .flex_box {
    flex-direction: row;
  }

  .flex_box_content {
    min-width: 315px;
  }

  .photo {
    grid-auto-rows: 24.5% 30% 40.5%;
  }
}
