/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  @media (prefers-color-scheme: dark) {
    
    --page-color: #000028;

    --header-color-title: #db00ff;

    --title-color-text: #ff0070;
        
    --background-color-text: #ff0070;

    --color-text: #f1b2ce;

    --main-text-color: #000028;

    --header__theme-menu-color: rgba(255, 0, 112, 0.4);

    --background-header: url(../images/cover-image-dark.png);

    --marker: 1;
  }

  @media (prefers-color-scheme: light) {
    --page-color: #fff1f7;

    --header-color-title: #ffc2e6;

    --title-color-text: #353430;

    --background-color-text: #ff8dcb;

    --color-text: #353430;

    --main-text-color: #353430;

    --header__theme-menu-color: rgba(50, 49, 45, 0.4);

    --background-header: url(../images/cover-image-light.png);

    --marker: -1;
  }
}

@media (width >= 588px) {

  .position_title {
    position: relative;
    inset-inline-start: -20px;
  }

  .text_length {
    width: 50%;
  }

  .page {
    gap: 50px;
  }

  

  h3 + .indent_section_text {
    margin-block-start: 0;
  }
}

@media (width >= 768px) {

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .min_length {
    min-width: 236px;
    max-width: 236px;
  }
  .photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 24% 29% 40.5%;
    gap: 20px;
  }

  .picture_section_sun {
    grid-area: 1 / 1 / 2 / 3;
  }

  .picture_section_icecream {
    grid-area: 1 / 3 / 3 / 3;
  }

  .picture_section_video {
    grid-area: 2 / 1 / 4 / 2;
  }

  .picture_section_book {
    grid-area: 2 / 2 / 3 / 3;
  }

  .picture_section_street {
    grid-area: 3 / 2 / 4 / 4;
  }

  .section_focus {
    display: flex;
    gap: 20px;
  }

  .content {
    margin-block-start: 10px;
    gap: 80px;
    padding: 0 20px;
  }

  .header_size {
    padding: 20px;
  }

  .footer_size {
    padding: 10px 20px 30px; 
  }

  .footer {
    padding: 10px 0;
  }

  .rec_header {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .header::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .footer_size::before {
    inset-block-start: 10px;
    inset-inline-end: 20px;
  }

  .header::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .footer_size::after {
    inset-block-end: 30px;
    inset-inline-start: 20px;
  }

  .picture {
    gap: 20px;
  }
}

@media (width >= 1000px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .min_length {
    min-width: 315px;
    max-width: 315px;
  }

  .flex_box {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flex_box_content {
    min-width: 314px;
    max-width: 314px;
  }

  .photo {
    grid-template-rows: 24.5% 30% 40.5%;
  }
}
