/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  @media (prefers-color-scheme: dark) {
    
    --page-color: #000028;

    --header-color-title: #db00ff;

    --title-color-text: #ff0070;
        
    --background-color-text: var(--title-color-text);

    --color-text: #f1b2ce;

    --main-text-color: var(--page-color);

    --header__theme-menu-color: rgba(255, 0, 112, 0.4);

    --background-header: url(../images/cover-image-dark.png);

    --rec-box-shadow: 0 0 4px 2px var(--background-color-text);

    --rec-color: var(--title-color-text);
  }

  @media (prefers-color-scheme: light) {
    --page-color: #fff1f7;

    --header-color-title: #ffc2e6;

    --title-color-text: #353430;

    --background-color-text: #ff8dcb;

    --color-text: var(--title-color-text);

    --main-text-color: var(--title-color-text);

    --header__theme-menu-color: rgba(50, 49, 45, 0.4);

    --background-header: url(../images/cover-image-light.png);

    --rec-box-shadow: none;

    --rec-color: transparent;
  }

  --title-shadow: #ff0070;
}